CloudFlare==2.11.1
azure_common==1.1.28
azure_identity==1.12.0
azure_mgmt_dns==8.0.0
azure_mgmt_privatedns==1.0.0
google_cloud_dns==0.34.1
google_auth==2.16.2
boto3==1.26.71
colorama==0.4.4
dnspython==2.3.0
protobuf==4.22.1
python_digitalocean==1.17.0
requests==2.25.1
tabulate==0.9.0
tqdm==4.57.0
urllib3==1.26.5
